{% extends "base.html" %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">django app</h1>
    
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae ratione ipsam ullam explicabo consectetur eius facere accusantium excepturi quia. Eius, odit. Quibusdam consectetur vero nobis dolorum ipsum natus repudiandae necessitatibus!
            Debitis aspernatur quisquam, ullam in consequuntur accusamus necessitatibus eum natus, libero iure qui nesciunt deserunt nihil consectetur error, inventore autem? Dolorum asperiores cupiditate tenetur, ullam delectus minus exercitationem est quibusdam?
            Eius eveniet nesciunt obcaecati distinctio magnam. Accusantium dolores deserunt natus error distinctio vel at repellat, ratione architecto animi repellendus voluptatum blanditiis cum asperiores voluptate tenetur exercitationem hic totam ab quia?
            Veniam, ratione doloribus cumque laudantium adipisci culpa repellendus, ea quia beatae nostrum pariatur officia, commodi quasi? Illo assumenda nemo qui. Odio iusto odit cupiditate non inventore! Nisi, error quod! At!
            Est quibusdam ex fugit a, nemo maiores! Sapiente illo, aliquam eligendi repellendus assumenda non laboriosam quia similique deserunt consequatur vel soluta nemo qui dolorem consectetur! Modi aliquam quia sequi suscipit?
            Natus repellendus soluta earum minima nam, aperiam repudiandae, adipisci quisquam veniam maiores explicabo aspernatur molestiae mollitia voluptatibus fugiat non harum dicta illo atque perspiciatis! Nesciunt quas 
        </p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                signup
            </a>
        </div>
    </section>
</main>

    {% endblock %}