{% extends "base.html" %} {% block content %}

<main class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 mt-5">
      <form action="{% url 'signup' %}" method="POST" class="card card-body">
        <h1 class="text-center">Crear cuenta</h1>
        {% csrf_token %} {{ form.as_p }}
        <p class="small text-secondary">
          Las cuentas nuevas se registran como estudiantes. Los profesores deben
          ser creados por un administrador.
        </p>
        <button class="btn btn-primary">Registrarme</button>
      </form>
    </div>
  </div>
</main>

{% endblock %}
