{% extends "base.html" %}
{% block content %}
<h1>home</h1>

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form action="/signup/" method="POST" class="card card-body">
                <h1 class="text-center">singup</h1>
                {{error}}
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" placeholder="write you name">
                </div>
                <div class="mb-3">
                    <label for="password1">Password</label>
                    <input type="password" name="password1" class="form-control" placeholder="write you password">
                </div>
                <div class="mb-3">
                    <label for="password2">confirm your Password</label>
                    <input type="password" name="password2" class="form-control" placeholder="confirm your password">
                </div>
                <button class=" btn btn-primary">
                    signup
                </button>
            </form>
        </div>
    </div>
</main>

{% endblock %}
