{% extends "base.html" %} {% block content %}
<main class="container py-5">
  <div class="col-md-7 mx-auto">
    <form method="post" enctype="multipart/form-data" class="card card-body">
      {% csrf_token %}
      <h1>Entregar actividad</h1>
      <h2 class="h4">{{ task.title }}</h2>
      <p>{{ task.description }}</p>
      <p>Fecha límite: {{ task.due_date|date:"d/m/Y H:i" }}</p>
      {{ form.non_field_errors }} {{ form.as_p }}
      <button class="btn btn-success">Enviar actividad</button>
    </form>
  </div>
</main>
{% endblock %}
